<%= render '/partials/navbar_merchant' %><br>
<%= render 'partials/two_columns' %>

<h2> Current Bulk Discounts: </h2>
<br>
<ul> <% @merchant.discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <li> <%= discount.percentage %>% off <%= discount.threshold %> of the same item
    | <%= link_to "Details", merchant_discount_path(@merchant, discount) %>
    | <%= link_to "Delete",  merchant_discount_path(@merchant, discount), method: :delete %></li>
  </div>
<% end %></ul>
<hr>

<h4> Upcoming US Holidays: </h4>
<ol> <% @parsed_holidays.each do |holiday| %>
  <li> <b><%= holiday.name %></b>, <i><%= holiday.date %></i> </li>
  <% end %> </ol>
<hr>

<%= link_to "Add New Bulk Discount", new_merchant_discount_path(@merchant) %>
